<tr>
    <th><%= link_to "Cars", cars_path(index) %></th>
    <th colspan="2"><%= link_to "Makes", makes_path(index) %></th>
    <th colspan="3"><%= link_to "Parts", parts_path(index) %></th>
</tr>

<h1>Editing Part</h1>

<%= render 'form', part: @part %>

<%= link_to 'Show', @part %> |
<%= link_to 'Back', parts_path %>
