<tr>
    <th><%= link_to "Cars", cars_path(index) %></th>
    <th colspan="2"><%= link_to "Makes", makes_path(index) %></th>
    <th colspan="3"><%= link_to "Parts", parts_path(index) %></th>
</tr>

<h1>Editing Make</h1>

<%= render 'form', make: @make %>

<%= link_to 'Show', @make %> |
<%= link_to 'Back', makes_path %>
