<tr>
    <th><%= link_to "Cars", cars_path(index) %></th>
    <th colspan="2"><%= link_to "Makes", makes_path(index) %></th>
    <th colspan="3"><%= link_to "Parts", parts_path(index) %></th>
</tr>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @make.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @make.country %>
</p>

<%= link_to 'Edit', edit_make_path(@make) %> |
<%= link_to 'Back', makes_path %>

<%= link_to 'Log out',   
  destroy_user_session_path,
  method: :delete %>
