<tr>
    <th><%= link_to "Cars", cars_path(index) %></th>
    <th colspan="2"><%= link_to "Makes", makes_path(index) %></th>
    <th colspan="3"><%= link_to "Parts", parts_path(index) %></th>
</tr>

<h1>Editing Car</h1>

<%= render 'form', car: @car %>

<%= link_to 'Show', @car %> |
<%= link_to 'Back', cars_path %>