<tr>
    <th><%= link_to "Cars", cars_path(index) %></th>
    <th colspan="2"><%= link_to "Makes", makes_path(index) %></th>
    <th colspan="3"><%= link_to "Parts", parts_path(index) %></th>
</tr>

<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @car.vin %>
</p>

<p>
  <strong>Make:</strong>
  <%= @car.make %>
</p>

<p>
  <strong>Parts:</strong>
</p>
<ul>
	<% @car.parts.each do |part| %>
		<li><%= part.name %></li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>

<%= link_to 'Log out',   
  destroy_user_session_path,
  method: :delete %>
